In [11]:
import pandas as pd
import urllib3
import csv

confirmedURL = 'https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv'

from requests import Request, Session

s = Session()
req = Request('GET', confirmedURL)

prepped = s.prepare_request(req)

# Merge environment settings into session
settings = s.merge_environment_settings(prepped.url, None, None, None, None)
resp = s.send(prepped, **settings)

with open('confirmed-current.csv', "w+") as fout:
    fout.write(resp.content.decode('utf-8'))

In [12]:
df = pd.read_csv('confirmed-current.csv')

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20
0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,...,50,53,59,70,75,82,114,147,177,212
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,511,581,639,639,701,773,839,825,878,889
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,150,160,178,178,200,212,226,243,266,313
3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,4,...,117,129,149,149,197,238,428,566,673,790
5,British Columbia,Canada,49.2827,-123.1207,0,0,0,0,0,0,...,32,32,39,46,64,64,73,103,103,186
6,New South Wales,Australia,-33.8688,151.2093,0,0,0,0,3,4,...,48,55,65,65,92,112,134,171,210,267
7,Victoria,Australia,-37.8136,144.9631,0,0,0,0,1,1,...,15,18,21,21,36,49,57,71,94,121
8,Queensland,Australia,-28.0167,153.4000,0,0,0,0,0,0,...,15,18,20,20,35,46,61,68,78,94
9,NaN,Cambodia,11.5500,104.9167,0,0,0,0,0,1,...,2,2,3,3,5,7,7,7,33,35
10,NaN,Sri Lanka,7.0000,81.0000,0,0,0,0,0,1,...,1,1,2,2,6,10,18,28,44,51
11,NaN,Germany,51.0000,9.0000,0,0,0,0,0,1,...,1176,1457,1908,2078,3675,4585,5795,7272,9257,12327
12,NaN,Finland,64.0000,26.0000,0,0,0,0,0,0,...,30,40,59,59,155,225,244,277,321,336
13,NaN,United Arab Emirates,24.0000,54.0000,0,0,0,0,0,0,...,45,74,74,85,85,85,98,98,98,113
14,NaN,Philippines,13.0000,122.0000,0,0,0,0,0,0,...,20,33,49,52,64,111,140,142,187,202
15,NaN,India,21.0000,78.0000,0,0,0,0,0,0,...,43,56,62,73,82,102,113,119,142,156
16,NaN,Italy,43.0000,12.0000,0,0,0,0,0,0,...,9172,10149,12462,12462,17660,21157,24747,27980,31506,35713
17,NaN,Sweden,63.0000,16.0000,0,0,0,0,0,0,...,248,355,500,599,814,961,1022,1103,1190,1279
18,NaN,Spain,40.0000,-4.0000,0,0,0,0,0,0,...,1073,1695,2277,2277,5232,6391,7798,9942,11748,13910
19,South Australia,Australia,-34.9285,138.6007,0,0,0,0,0,0,...,7,7,9,9,16,19,20,29,29,37
20,NaN,Belgium,50.8333,4.0000,0,0,0,0,0,0,...,239,267,314,314,559,689,886,1058,1243,1486
21,NaN,Egypt,26.0000,30.0000,0,0,0,0,0,0,...,55,59,60,67,80,109,110,150,196,196
22,From Diamond Princess,Australia,35.4437,139.6380,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,NaN,Lebanon,33.8547,35.8623,0,0,0,0,0,0,...,32,41,61,61,77,93,110,99,120,133
24,NaN,Iraq,33.0000,44.0000,0,0,0,0,0,0,...,60,71,71,71,101,110,116,124,154,164
25,NaN,Oman,21.0000,57.0000,0,0,0,0,0,0,...,16,18,18,18,19,19,22,22,24,39
26,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,4,5,7,7,7,11,16,21,22,22
27,NaN,Bahrain,26.0275,50.5500,0,0,0,0,0,0,...,95,110,195,195,189,210,214,214,228,256
28,NaN,Kuwait,29.5000,47.7500,0,0,0,0,0,0,...,64,69,72,80,80,104,112,123,130,142
29,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,20,20,20,24,26,37,48,54,60,74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,NaN,Kosovo,42.6026,20.9030,0,0,0,0,0,0,...,0,0,0,0,0,0,2,2,2,2
433,Newfoundland and Labrador,Canada,53.1355,-57.6604,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,3,3
434,Prince Edward Island,Canada,46.5107,-63.4168,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1
435,NaN,Central African Republic,6.6111,20.9394,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1
436,NaN,Congo (Brazzaville),-4.0383,21.7587,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1
437,NaN,Equatorial Guinea,1.5000,10.0000,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,4
438,Mayotte,France,-12.8275,45.1662,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,3
439,NaN,Uzbekistan,41.3775,64.5853,0,0,0,0,0,0,...,0,0,0,0,0,0,1,6,10,15
440,Netherlands,Netherlands,52.1326,5.2913,0,0,0,0,0,0,...,321,382,503,503,804,959,1135,1413,1705,2051
441,Nova Scotia,Canada,44.6820,-63.7443,0,0,0,0,0,0,...,0,0,0,0,0,0,0,5,7,12
442,Guadeloupe,France,16.2500,-61.5833,0,0,0,0,0,0,...,0,0,0,0,1,1,3,6,18,27
443,NaN,Benin,9.3077,2.3158,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,2
444,NaN,Greenland,71.7069,-42.6043,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
445,NaN,Liberia,6.4281,-9.4295,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,2
446,Curacao,Netherlands,12.1696,-68.9900,0,0,0,0,0,0,...,0,0,0,0,0,1,1,1,3,3
447,NaN,Somalia,5.1521,46.1996,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
448,NaN,Tanzania,-6.3690,34.8888,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,3
449,NaN,The Bahamas,24.2500,-76.0000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
450,Virgin Islands,US,18.3358,-64.8963,0,0,0,0,0,0,...,0,0,0,0,0,1,1,1,2,2
451,Cayman Islands,United Kingdom,19.3133,-81.2546,0,0,0,0,0,0,...,0,0,0,0,1,1,1,1,1,1
452,Reunion,France,-21.1351,55.2471,0,0,0,0,0,0,...,0,0,1,1,5,6,7,9,9,12
453,NaN,Barbados,13.1939,-59.5432,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,2
454,NaN,Montenegro,42.5000,19.3000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,1
455,NaN,Kyrgyzstan,41.2044,74.7661,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
456,NaN,Mauritius,-20.2000,57.5000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
457,Aruba,Netherlands,12.5186,-70.0358,0,0,0,0,0,0,...,0,0,0,0,2,2,2,2,3,4
458,NaN,Zambia,-15.4167,28.2833,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
459,NaN,Djibouti,11.8251,42.5903,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
460,NaN,"Gambia, The",13.4432,-15.3101,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
461,Montserrat,United Kingdom,16.7425,-62.1874,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [ ]:
doublingTime = 6.2
avgTTD = 17.3
caseMult = 2.0**(avgTTD/doublingTime)
mortalityRate = 0.01