In [6]:
import pandas as pd
import urllib3
import csv
from requests import Request, Session

confirmedURL = 'https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv'
deathsURL = 'https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv'
recoveredURL = 'https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv'

urls = [confirmedURL, deathsURL, recoveredURL]

files = []

for url in urls:
    s = Session()
    req = Request('GET', url)
    prepped = s.prepare_request(req)
    settings = s.merge_environment_settings(prepped.url, None, None, None, None)
    resp = s.send(prepped, **settings)

    filename = url.split('/')[-1]
    
    with open(filename, "w+") as fout:
        fout.write(resp.content.decode('utf-8'))
        
    files.append(filename)

In [19]:
filename = files[1]
print(filename)

df = pd.read_csv(filename)

df['Province/State'] = df['Province/State'].fillna('Total')
df[df['Country/Region'].str.contains('US')][df['Province/State'].str.contains('New York')]

time_series_19-covid-Deaths.csv

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  import sys

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20
99,New York,US,42.1657,-74.9481,0,0,0,0,0,0,...,0,0,0,0,0,2,3,10,13,16
319,"New York County, NY",US,40.7128,-74.0060,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
doublingTime = 6.2
avgTTD = 17.3
caseMult = 2.0**(avgTTD/doublingTime)
mortalityRate = 0.01